.app {
  background-color: #282c34;
  margin: 1vh;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  font-size: calc(4px + 2vmin);
  border-radius: 0.8rem;
  color: white;  
}

.app-header {  
  width: 100%;
  font-size: calc(10px + 2vmin);
  font-weight: 600;
  text-align: center;  
}

.app-body {
  
  justify-content: left;

}